@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #fafafa;
  color: #292929;
  box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
  padding-bottom: 20px;
  position: relative;
}

.swiper-pagination {
  height: 7px;
  line-height: 0px;
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  margin: 0 2px !important;
}

.swiper-pagination-bullet-active {
  background: #1b4a9d !important;
}

/* == */

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #808080;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}
th {
  background-color: #f2f2f2;
}

.left-arrow {
  transform: rotate(180deg);
}

.swiper-button-disabled rect {
  stroke: #d1d5db;
}

.swiper-button-disabled path {
  fill: #d1d5db;
}
